.additional-info-card-content {
  width: 80%;
}

.additional-info-text-fields.MuiFormControl-root {
  margin: 4% 0px;
}

.additional-info-buttons.MuiButtonBase-root {
  margin: 4% auto;
}

.additional-info-header.MuiTypography-root {
  margin: 0% 10%;
  text-align: left;
}

.additional-info-datepicker.MuiFormControl-root {
  margin: 4% 0px;
}

.additional-info-warning {
  margin: auto;
}
