.pto-basic-info-small-card {
    margin: 2%;
    text-align: left;
}

.pto-basic-info-header.MuiTypography-root {
    margin: 0% 5%;
    text-align: left;
}

.pto-basic-info-chip.MuiChip-root {
    margin-bottom: 2%;
    font-size: 1.25rem;
    border: none;
}

div.pto-basic-info-chip-avatar.MuiAvatar-root{
    width: 36px;
    height: 36px;
}

.pto-basic-info-buttons.MuiButtonBase-root {
    margin: 4% auto;
}