.card-content {
  width: 80%;
}

.pto-form-text-fields.MuiFormControl-root {
  margin: 4% 0px;
}

.pto-form-buttons.MuiButtonBase-root {
  margin: 4% auto;
}

.pto-form-header.MuiTypography-root {
  margin: 0% 10%;
  text-align: left;
}

.pto-form-datepicker.MuiFormControl-root {
  margin: 4% 0px;
}

.pto-form-warning {
  margin: auto;
}
