.users-container {
  margin-left: 240px;
  text-align: left;
  padding: 0% 5%;
}

.users-title.MuiTypography-root {
  margin: 1% 1% 1% 0%;
}

.users-card {
  margin: 2px auto;
}

.users-card-selected.MuiPaper-root {
  background-color: rgb(218, 216, 218);
}
.users-avatar {
  float: left;
  margin-right: 2%;
}

.users-names.MuiTypography-root {
  margin-top: 5px;
}

.users-change-button.MuiButton-outlinedPrimary {
  display: block;
  margin: 1% 1% 1% 0%;
}

.users-change-button-hidden.MuiButton-outlinedPrimary {
  display: block;
  margin: 1% 1% 1% 0%;
  visibility: hidden;
}

.users-list-selector-wrapper {
  display: inline;
}

.users-list-selector-label.MuiTypography-root {
  display: inline-block;
  margin-right: 2%;
}

.users-list-selector.MuiFormControl-root {
  min-width: 154px;
  margin-right: 2%;
  text-align: center;
}

.circular-progress-container {
  text-align: center;
}
