.card-content {
  width: 90%;
}

.absence-form-text-fields.MuiFormControl-root {
  margin: 4% 0px;
}

.absence-form-buttons.MuiButtonBase-root {
  margin: 4% auto;
}

.absence-form-header.MuiTypography-root {
  margin: 0% 5%;
  text-align: left;
}

.absence-form-datepicker.MuiFormControl-root {
  margin: 4% 0px;
}

.error-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  padding-bottom: 15px;
  background-color: white;
  border: 2px solid #000;
  text-align: center;
}

.error-modal-button.MuiButton-root {
  margin-top: 10px;
}

.absence-form-warning {
  margin: auto;
}

.absence-form-paper.MuiPaper-root {
  width: 90%;
  float: right;
  padding-top: 10px;
}
